$color:       #000;
$background:  #ffc;
$height:      10em;
$width:       10em;
$padding:     1em;

$font-family:   "Reenie Beanie",arial,sans-serif;
$font-size:     180%;

$header-font-family:  arial,sans-serif;
$header-font-size:    140%;

$sticky-width:        20px;

$footer-color:        #979797;